


h1{
  background-color: black;
  color:cyan;
  text-indent: 15px;
}
span{
  color:white;
}
h2{
  text-align: center;
  font-style: italic;
  background-color:rebeccapurple;
  color: white;
  font-weight:100;
}
h3{
  font-weight:100;
  text-decoration: underline;
  background-color:rgb(130, 173, 214);
  text-align: right;
  text-indent: 200px;  
}
  
 *{
  font-family: cursive;
}